body {
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

input[type=submit], input[type=checkbox] {
    cursor: pointer;
}
